img{
  width: 100%;
  height: 55%;
}
    .nav {
      height: 30px;
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
    }
    .nav-right-items{
      display: flex;
      margin-left: auto;
    }
    .nav-item{
      margin-left: 10px;
    }

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;

    }
    
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;  /*ã…‡*/
}
.box{
  float:left;
  width: 125px;
  line-height: 125px;
  text-align: center;
  margin: 10px;
}

.show{
  display: block;
}
.btn{
  border: none;
  outline: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  cursor: pointer;
}

